@import url("reset.css");

*{
    box-sizing: border-box;
}

:root{
    --white: hsl(0, 0%, 100%);
    --rose-hell:hsl(330, 100%, 98%);
    --Eggshell:hsl(30, 54%, 90%);
    --lightGrey:hsl(30, 18%, 87%);
    --brown: hsl(30, 10%, 34%);
    --darkCharcoal: hsl(24, 5%, 18%);
    --nutmeg:hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);
}
body{
    background-color: var(--Eggshell);
    font-size: 16px;
    word-spacing: 3px;
    line-height:1em ;
    width: 100%;

}
hr{
    color: var(--brown);
    opacity: .5;
    margin: 2.2em 0;
}
.container{
    color:var(--brown);
    font-family: Outfit;
    font-weight: 400;
    line-height: 20px;
    background-color: var(--white);
    /*padding: 24px; */
   
   /* justify-content: center;
    align-items: center;*/
    width: 100%;
   
 
    /*margin-top: 50px;
    margin-bottom: 50px;*/

}
.container_content{
    padding: 40px 24px; 
 
}
img{
    width: 100%;
}

.header_titel{
    font-family:Young Serif ;
    font-weight: 400;
    color: var(--darkCharcoal);
    font-size: 34px;
    margin-bottom: 32px;
    line-height:1em ;

}
.header_text{
    margin-bottom: 18px;
}

h3{
    color: var(--DarkRaspberry);
    font-weight: 600;
    margin-bottom: 14px;
    font-size: 20px;
}


h2{
    color: var(--nutmeg);
    font-family: Young serif;
    font-weight: 400;
    font-size: 32px;
    margin: 1em 0 ;
}
ul{
    list-style: none;
}


.preparation_list{
    background-color: var(--rose-hell);
    padding: 20px 32px;
    line-height: 1.4em;
    margin: 18px 0;
    display: inline-block;
    border-radius: 12px;
    width: 100%;

}
.preparation_list_item_circle{
    width: 4px;
    height: 4px;
    border-radius: 99999px;
    background-color: var(--DarkRaspberry);
    display: inline-block;


}
.preparation_list_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
   
}
.preparation_list p{
    padding-left: 28px;
    
}

.preparation_list strong{
    font-weight: 700;
    padding-right: 3px;
}

.ingredients_list_item_circle{
    width: 4px;
    height: 4px;
    border-radius: 99999px;
    background-color: var(--nutmeg);
    display: inline-block;

}

.ingredients_list_item p{
    padding-left: 32px;
}
.ingredients_list_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;

}


.nutrition_table{
    width: 100%;
    margin-top: 32px;
}

.nutrition_table_body_item{
    padding: 16px 32px;

}
.nutrition_table_body_item_colored{
    color: var(--nutmeg);
    font-weight: 700;
    padding-right: 32px;
}

.nutrition_table tbody  tr:not(:last-child){
    border-bottom: 0.5px solid  hsl(30, 10%, 34%,.4);
}



.instruction_list li::marker{
    color: var(--nutmeg);
    font-weight: 700;
    font-family: Outfit;
    font-size: 1.1em;
   
}


ol li div {
    padding-left: 14px;
    margin-bottom: 14px;
    line-height: 1.5em;
}


ol{
    padding-left: 24px !important;
}

.instruction_list span{
        
    font-weight: 700;
}





 footer.attribution{
    background-color: var(--white);
    margin-top: 40px;
    text-align: center;
 
 }

 

 @media screen and (min-width: 780px) {
    
    
    .container{
        border-radius: 32px;
        padding: 2em;
        max-width: 880px;
        margin-inline: auto;
        width: 100%;
        margin: auto;
        margin-top: 110px;
        margin-bottom: 2em;
    }
    
    img{
        display: inline-block;
        width: 100%;
        border: none;
        border-radius: 2%;
        align-items: center;
        justify-content: center;


    }

    .container{
       
        width: 100%;
    }
    .preparation_list{
        width: 100%;
    }


    
 }